In [1]:
import TBTFEuro as EURO

In [2]:
TBTF = EURO.TBTFEuro()