# Too Big to Fail Goes to the Euros 2024

In [1]:
import TBTFEuro
bois = TBTFEuro.TBTFEuro()

## Realiseret Gruppespil

In [3]:
bois._VisGrupperStilling()

## Bois' Bud på Gruppespillet

## Bois' Point for Gruppespillet

In [4]:
bois._VisBoisStilling()

## Bois' Fordelinger af Bud på Resultater