# Too Big to Fail Goes to the Euros 2024

In [1]:
import TBTFEuro
TBTF = TBTFEuro.TBTFEuro()

In [2]:
bois = TBTF.bois

## Realiseret Gruppespil

In [3]:
TBTF._VisGrupperStilling()

## Bois' Bud på Gruppespillet

Værdier udenfor parenteser angiver bud, mens parenteser angiver forskel fra faktisk resultat. Parenteser ved hold angiver afstand fra faktisk placering.

In [4]:
for boi in bois:
    TBTF._VisGrupperStillingBoisDiff(boi)

## Bois' Fordelinger af Bud på Resultater

## Bois' Point

Point nedenfor er inklusiv bonuspoint i gruppespil og slutspilspoint.

In [5]:
TBTF._VisBoisStilling()